html {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

body {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-mono);
  line-height: var(--line-height-mono);
}

@media (max-width: 595px) and (min-height: 595px) {
  html {
    overflow: hidden;
  }
}